// html{
//   scroll-behavior: smooth;
// }

body {
  background: $body-color;
}

.section-title {
  margin-bottom: 70px;

  @include desktop {
    text-align: center;
  }

  h2 {
    color: $secondary-color;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include desktop {
      font-size: 40px;
    }
  }

  p {
    color: $dark-gray;
    font-size: 20px;
    font-weight: lighter;
  }
}

.form-control {
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 1px 0;
  border-color: $primary-color;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;

  &:focus {
    box-shadow: none;
    background: transparent;
    border-color: $text-color;
  }
}

select.form-control {
  height: 42px !important;
  position: relative;
}

.select-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: url('../images/angle-down-select.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control {
  height: auto;
}

a {
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}

blockquote {
  background: $quote-gray;
  border-left: 10px solid $dark-gray;
  margin: 1em 10px;
  padding: 0.5em 10px;
}

// blockquote:before {
//   color: #ccc;
//   content: counter(name);
//   // content: open-quote;
//   font-size: 4em;
//   line-height: 0.1em;
//   margin-right: 0.25em;
//   vertical-align: -0.4em;
// }
blockquote ul {
  color: $secondary-color;
  margin: 0.5em 0;
}

blockquote p {
  color: $primary-color;
  display: inline;
}

.py-20 {
  padding: 20px 0;
}

.text-dark-gray {
  color: $dark-gray;
}

.rs-gradient-bg {
  background-color: $secondary-color;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #FFFFFF, $secondary-color), repeating-radial-gradient(circle at center center, #FFFFFF, #FFFFFF, 13px, transparent 26px, transparent 13px);
  background-blend-mode: multiply;
}

.hero-bg {
  background-color: #{$secondary-color}55;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23FFFFFF' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.site-main-block {
  padding: 79px 0 0 0;
  overflow: hidden;
}

.site-pagination {
  margin-top: 32px;

  .pagination {
    justify-content: center;

    .page-item {
      &:not(:last-child) {
        margin-right: 12px;
      }

      .page-link {
        border-radius: 4px;
        border: none;
        padding: 12px 24px;
        color: $text-color-dark;
        font-weight: 300;
        transition: all 0.3s ease;
      }

      &.active {
        .page-link {
          background-color: $primary-color;
          color: $white;
        }
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}

.site-tags {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  &-item {
    &:nth-child(odd) {
      background: $primary-color;
    }

    &:nth-child(even) {
      background: $secondary-color;
    }

    a {
      color: $white;
    }

    color: $white;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 64px;
    box-sizing: border-box;
  }
}

.site-list {
  padding: 24px 0;

  &-item {
    margin-bottom: 24px;
    transition: all 0.3s ease-in;

    background: $gray;
    padding: 16px 24px;
    transition: all .3s $site-ease;

    @include tablet {
      padding: 16px;
    }

    h4 {
      margin-bottom: 0;

      a {
        color: $text-color-dark;
        transition: 0.3s ease;
      }
    }

    h5 {
      margin-bottom: 0;
      color: $text-color;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
    }

    &:hover {
      box-shadow:
        0px 16px 24px 0px rgba(0, 0, 0, 0.01),
        0px 16px 24px 0px rgba(0, 0, 0, 0.02),
        0px 16px 24px 0px rgba(0, 0, 0, 0.03),
        0px 16px 24px 0px rgba(0, 0, 0, 0.04);

      h4 {
        a {
          // text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }
}

.site-grid {
  padding: 24px 0;

  &-item {
    margin-bottom: 24px;
    transition: all 0.3s ease-in;

    background: $gray;
    padding: 16px 24px;
    transition: all .3s $site-ease;

    @include tablet {
      padding: 16px;
    }

    h4 {
      margin-bottom: 0;

      a {
        color: $text-color-dark;
        transition: 0.3s ease;
      }
    }

    &:hover {
      box-shadow:
        0px 16px 24px 0px rgba(0, 0, 0, 0.01),
        0px 16px 24px 0px rgba(0, 0, 0, 0.02),
        0px 16px 24px 0px rgba(0, 0, 0, 0.03),
        0px 16px 24px 0px rgba(0, 0, 0, 0.04);

      h4 {
        a {
          // text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }
}

.site-markdown-page {
  padding: 24px 0 96px 0;

  &-title {
    h1 {
      color: $primary-color;
    }

    h4 {
      color: $text-color-dark;
    }

    h5 {
      color: $text-color;
    }
  }

  &-markdown {
    margin-bottom: 48px;

    p {
      margin-bottom: 32px;
    }
  }
}