// html{
//   scroll-behavior: smooth;
// }

body {
  background: $body-color;
}

.section-title {
  margin-bottom: 70px;

  @include desktop {
    text-align: center;
  }

  h2 {
    color: $secondary-color;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include desktop {
      font-size: 40px;
    }
  }

  p {
    color: $dark-gray;
    font-size: 20px;
    font-weight: lighter;
  }
}

.form-control {
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 1px 0;
  border-color: $primary-color;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;

  &:focus {
    box-shadow: none;
    background: transparent;
    border-color: $text-color;
  }
}

select.form-control {
  height: 42px !important;
  position: relative;
}

.select-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: url('../images/angle-down-select.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control {
  height: auto;
}

a {
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}

blockquote {
  background: $quote-gray;
  border-left: 10px solid $dark-gray;
  margin: 1em 10px;
  padding: 0.5em 10px;
}

// blockquote:before {
//   color: #ccc;
//   content: counter(name);
//   // content: open-quote;
//   font-size: 4em;
//   line-height: 0.1em;
//   margin-right: 0.25em;
//   vertical-align: -0.4em;
// }
blockquote ul {
  color: $secondary-color;
  margin: 0.5em 0;
}

blockquote p {
  color: $primary-color;
  display: inline;
}

.py-20 {
  padding: 20px 0;
}

.rs-gradient-bg {
  background-color: $secondary-color;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #FFFFFF, $secondary-color), repeating-radial-gradient(circle at center center, #FFFFFF, #FFFFFF, 13px, transparent 26px, transparent 13px);
  background-blend-mode: multiply;
}

.hero-bg {
  background-color: #{$secondary-color}55;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23FFFFFF' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}