//site color variables
$body-color: #fff;
$primary-color: #FC5424;
$secondary-color: #647C84;
// $text-color: #9D9EA5;
$text-color: #646569;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$quote-gray: #f9f9f9;
$dark-gray: #9D9EA5;
// $dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Microsoft YaHei', 'Heiti SC', Arial, Helvetica, sans-serif;
$secondary-font: 'Microsoft YaHei', 'Heiti SC', Arial, Helvetica, sans-serif;
// $primary-font: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', '\5B8B\4F53', sans-serif;
// $secondary-font: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', '\5B8B\4F53', sans-serif;
