{{ define "main" }}

<section class="site-main-block">
  <div class="container site-markdown-page">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="site-markdown-page-title">
          <h1>{{ .Title | safeHTML }}</h1>
          {{ if .Params.subtitle }}
          <h4>{{ .Params.subtitle | safeHTML }}</h4>
          {{ end }}
          {{ if .Params.brief }}
          <h5>{{ .Params.brief | safeHTML }}</h5>
          {{ end }}
          <div class="site-markdown-page-markdown">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="card border-secondary mb-3" style="width: 100%;">
        <div class="card-body text-secondary">
          <div class="card-text">
            <b>作者|Author: </b> {{ .Site.Params.author }}
          </div>
          <div class="card-text">
            <b>发表日期|Publish Date: </b> {{ .Date | time.Format ":date_medium" }}
          </div>
          <div class="card-text">
            <b>修改日期|Modified Date: </b> {{ .Lastmod | time.Format ":date_medium" }}
          </div>
          <div class="card-text">
            <b>版权许可|Copyright License: </b> {{ .Site.Params.copyright.license | safeHTML }}
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-6 text-left">
        {{ if .PrevInSection }}
        <a class="button-secondary btn-sm btn-sm-rounded" href="{{.PrevInSection.Permalink}}">
          {{ .Site.Params.const.prev }}
        </a>
        {{ else }}
        &nbsp;
        {{ end }}
      </div>
      <div class="col-6 text-right">
        {{ if .NextInSection }}
        <a class="button-secondary btn-sm btn-sm-rounded" href="{{.NextInSection.Permalink}}">
          {{ .Site.Params.const.next }}
        </a>
        {{ else }}
        &nbsp;
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}