{{ with .Site.Params.features }}
  {{ if .enable }}
  <section class="site-grouping" id="grouping">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .Title | safeHTML }}</h2>
            <p>{{ .subtitle | safeHTML }}</p>
          </div>
        </div>
        <!-- range first 4 (sort (where $.Site.RegularPages "Type" "features") ".Params.seq") -->
        {{ range first 6 (sort (where $.Site.RegularPages "Type" "products") ".Params.date") }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-grouping-item">
            <div class="site-grouping-item-thumb">
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.Image | absURL }}" alt="grouping-thumb">
              </a>
            </div>
            <div class="site-grouping-item-content">
              <span>{{ .Params.subTitle }}</span>
              <h3>{{ .Title }}</h3>
              <a href="{{ .Permalink }}" class="read-more">{{ .Site.Params.readMore }}</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}