{{ if .Site.Params.banner.enable }}
{{ "<!-- Site Hero Start -->" | safeHTML }}
<section class="site-hero hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        {{ with .Site.Params.banner }}
        <div class="site-hero-banner text-center">
          <h5>{{ .slogan | safeHTML }}</h5>
          <h1>{{ .title | safeHTML }}</h1>
        </div>
        {{ end }}
        {{ if .Site.Taxonomies.categories }}
        <div class="site-tags">
          {{ range .Site.Taxonomies.categories }}
          <div class="site-tags-item">
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            {{/*  <a href="{{ .Page.Permalink }}">{{ .Page.Title }}({{ .Count }})</a>  */}}
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }}
{{ end }}