{{ define "main" }}

{{ $careerData := index .Site.Data.careers (string .Params.career) }}
{{ if reflect.IsSlice $careerData.poses }}
<section class="site-grouping-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="site-grouping-single">
          <h1>
            {{ $careerData.title | safeHTML }}
            {{ if $careerData.subTitle }}
            <span>{{ $careerData.subTitle | safeHTML }}</span>
            {{ end }}
          </h1>
          <span>&nbsp;</span>
          {{ $poses := $careerData.poses }}
          {{ range $careerData.poses }}
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="site-grouping-item">
                <div class="site-grouping-item-content">
                  <div class="row">
                    <div class="col-lg-5 col-md-12 mx-auto">
                      <span>{{ .subTitle }}</span>
                    </div>
                    <div class="col-lg-3 col-md-12 mx-auto">
                      <b>{{ $careerData.category }}&nbsp;{{ $careerData.categoryEn }}</b>
                    </div>
                    <div class="col-lg-2 col-md-12 mx-auto">
                      <b>{{ .country }} {{ .province }} {{ .city }}</b>
                    </div>
                    <div class="col-lg-2 col-md-12 mx-auto text-right">
                      <b>{{ .dtop }}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-9 col-md-12 mx-auto">
                      <h3>{{ .title }}</h3>
                    </div>
                    <div class="col-lg-3 col-md-12 mx-auto">
                      <h5 class="text-right">
                      {{ if .capacity }}
                      {{ .capacity }}名
                      {{ else }}
                      不限名额
                      {{ end }}
                      </h5>
                    </div>
                  </div>
                  {{ if and .tags (gt (len .tags) 0) }}
                  <div class="site-grouping-item-content-tags row">
                    <ul>
                      {{ range .tags }}
                      <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                  {{ if .brief }}
                  <div class="site-grouping-item-content-line">
                    {{ .brief }}
                  </div>
                  {{ end }}
                  <details class="site-grouping-item-content-line">
                    <summary>岗位需求</summary>
                    <p>{{ $.Page.RenderString .jd }}</p>
                  </details>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="site-grouping-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="site-grouping-header-content">
          <h1>
            感谢您的<span>关注</span>，该类别暂时还未发布<span>岗位需求</span>。
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}