{{ define "main" }}

<section class="site-grouping-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="site-grouping-single">
          <h1>{{ .Title }}</h1>
          {{ if .Params.brief }}
          <h2>
            {{ .Params.brief }}
          </h2>
          {{ end }}
          {{ $expand := .Site.Params.expand }}
          {{ $careerData := index .Site.Data.careers (string .Params.career) }}
          {{ $poses := $careerData.poses }}
          {{ if reflect.IsSlice $careerData.poses }}
          {{ range $careerData.poses }}
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="site-grouping-item">
                <div class="site-grouping-item-content">
                  <div class="row">
                    <div class="col-lg-5 col-md-12 mx-auto">
                      <span>{{ .subTitle }}</span>
                    </div>
                    <div class="col-lg-3 col-md-12 mx-auto">
                      <b>{{ $careerData.category }}&nbsp;{{ $careerData.categoryEn }}</b>
                    </div>
                    <div class="col-lg-2 col-md-12 mx-auto">
                      <b>{{ .country }} {{ .province }} {{ .city }}</b>
                    </div>
                    <div class="col-lg-2 col-md-12 mx-auto text-right">
                      <b>{{ .dtop }}</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-9 col-md-12 mx-auto">
                      <h3>{{ .title }}</h3>
                    </div>
                    <div class="col-lg-3 col-md-12 mx-auto">
                      <h5 class="text-right">
                      {{ if .capacity }}
                      {{ .capacity }}名
                      {{ else }}
                      不限名额
                      {{ end }}
                      </h5>
                    </div>
                  </div>
                  {{ if and .tags (gt (len .tags) 0) }}
                  <div class="site-grouping-item-content-tags row">
                    <ul>
                      {{ range .tags }}
                      <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                  {{ if .brief }}
                  <div class="site-grouping-item-content-line">
                    {{ .brief }}
                  </div>
                  {{ end }}
                  <details class="site-grouping-item-content-line">
                    <summary>{{ $expand }}</summary>
                    <p>{{ $.Page.RenderString .jd }}</p>
                  </details>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ else }}
          <section>
            <div class="site-grouping-header-content">
              <h2>
                感谢您的<span>关注</span>，该类别暂时还未发布<span>岗位需求</span>。
              </h2>
            </div>
          </section>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}