{{ define "main" }}

{{ if .Params.brief }}
<section class="site-grouping-header hero-bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-grouping-header-content">
          <h1>{{ .Params.brief | safeHTML }}</h1>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <a href="#grouping" class="nav-link btn btn-sm button-secondary btn-sm-rounded scroll-to">
          <span class="btn-area">
            <span data-text="我们开始吧">
              进一步了解
            </span>
          </span>
        </a>
        <p></p>
        <a href="#grouping" class="site-grouping-header-action scroll-to">
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
{{ end }}

<section class="site-grouping" id="grouping">
  <div class="container">
    <div class="row">
      <!-- $RangePages := .Pages.ByParam "seq" -->
      {{ $RangePages := .Pages.ByDate }}
      {{ if gt .Params.pagination 0 }}
      <!-- $RangePages = (.Paginate (.Pages.ByParam "seq") .Params.pagination).Pages -->
      {{   $RangePages = (.Paginate (.Pages.ByDate) .Params.pagination).Pages }}
      {{ end }}
      {{ range $RangePages }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-grouping-item">
          <div class="site-grouping-item-thumb">
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.Image | absURL }}" alt="grouping-thumb">
            </a>
          </div>
          <div class="site-grouping-item-content">
            <span>{{ .Params.subTitle }}</span>
            <h3>{{ .Title }}</h3>
            <a href="{{ .Permalink }}" class="read-more">{{ .Site.Params.readMore }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ if gt .Params.pagination 0 }}
      <div class="col-12">
        <div class="site-grouping-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}