{{ define "main" }}

{{ if .Params.image1 }}
<section class="site-grouping-bg-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-grouping-bg-header-bg">
          <img src="{{ .Params.Image | absURL }}" alt="grouping-thumb">
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <a href="#grouping" class="nav-link btn btn-sm button-secondary btn-sm-rounded scroll-to">
          <span class="btn-area">
            <span data-text="我们开始吧">
              进一步了解
            </span>
          </span>
        </a>
        <p></p>
        <a href="#grouping" class="site-grouping-header-action scroll-to">
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
{{ end }}

<section class="site-grouping-single-section" id="grouping">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="site-grouping-single">
          <h1>
            {{ .Title | safeHTML }}
            {{ if .Params.subTitle }}
            <span>{{ .Params.subTitle | safeHTML }}</span>
            {{ end }}
          </h1>
          {{ if .Params.brief }}
          <span>{{ .Params.brief | safeHTML }}</span>
          {{ end }}
          <div class="site-grouping-single-description">
            {{ .Content }}
          </div>
          <div class="row">
            <div class="col-6">
              {{ if .PrevInSection }}
              <div class="site-grouping-single-action">
                <a class= "prev-item" href="{{.PrevInSection.Permalink}}">
                  <img src="{{ "images/to-top.svg" | absURL }}" alt="{{ .Site.Params.prevItemEn }}">
                  <span class="link-area">
                    <span data-text="{{ .Site.Params.prevItemEn }}">{{ .Site.Params.prevItem }}</span>
                  </span>
                </a>
              </div>
              {{ else }}
              &nbsp;
              {{ end }}
            </div>
            <div class="col-6">
              {{ if .NextInSection }}
              <div class="site-grouping-single-action">
                <a class= "next-item" href="{{.NextInSection.Permalink}}">
                  <span class="link-area">
                    <span data-text="{{ .Site.Params.nextItemEn }}">{{ .Site.Params.nextItem }}</span>
                  </span>
                  <img src="{{ "images/to-top.svg" | absURL }}" alt="{{ .Site.Params.nextItemEn }}">
                </a>
              </div>
              {{ else }}
              &nbsp;
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}